input:invalid {
    border: 1px solid red;
}
  
input:valid {
    border: 1px solid black;
}

table {
    width: 90%;
    margin: auto;
}

th {
    background-color: #003B46;
    color: #ffffff;
    padding: 5px;
    border-radius: 5px;
}

tr {
    background-color: #C4DFE6;
    padding: 5px;
    border-radius: 5px;
}

td {
    padding: 5px;
}

tr:hover {
    background-color: #07575B;
    color: #ffffff;
}

.form {
    width: 400px;
    margin: auto;
}

input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
}

.checkbox {
    display: inline-block;
    width: 10px;
}

.addButton {
    display: inline-block;
    background-color: #86AC41;
    color: #ffffff;
}

.notification {
    display: flex;
    justify-content: space-between;
    width: 380px;
    margin: auto;
    background-color: #5BC8AC;
    padding: 10px;
    border-radius: 5px;
    visibility: hidden;
    margin-bottom: 15px;
}

.notificationClose {
    color: #ffffff;
}

.dobError {
    color: red;
}